<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <h5>Information:</h5>
            </div>
            <div class="col-2"><label>Nom: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.nom}}</span></div>
            <div class="col-2"><label>Prénom: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.prenom}}</span></div>
            <div class="col-2"><label>Age: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.age}}</span></div>
            <div class="col-2"><label>Tél: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.numeroTel | mask:
                '00-00-00-00-00'}}</span></div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <div *ngIf="pdfSource!=undefined">
                <object style="margin-top: 20px" [data]="pdfSource" height="900px" width="100%">
                  <param name="view" value="fitH" />
                </object>
              </div>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="civilite">Civilité</label>
                    <label style="color: firebrick">*</label>

                    <select required #civilite="ngModel" name="civilite" [(ngModel)]="currentCandidat.civilite" class="form-control"
                      id="civilite" style="font-weight: bold;color: black;">
                      <option value="M">M</option>
                      <option value="Mme">Mme</option>
                    </select> </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="nom">Nom</label>
                    <label style="color: firebrick">*</label>

                    <input type="text" class="form-control" name="nom" [(ngModel)]="currentCandidat.nom" id="nom" style="font-weight: bold;color: black;">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-col-form-label" for="prenom">Prenom</label>
                    <label style="color: firebrick">*</label>

                    <input type="text" class="form-control" name="prenom" [(ngModel)]="currentCandidat.prenom" id="prenom" style="font-weight: bold;color: black;">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <label style="color: firebrick">*</label>

                    <input type="email" class="form-control" name="email" [(ngModel)]="currentCandidat.email" id="email" style="font-weight: bold;color: black;">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="telephone">Téléphone</label>
                    <label style="color: firebrick">*</label>

                    <input type="text" class="form-control" [textMask]="{mask: mask}" name="telephone" [(ngModel)]="currentCandidat.numeroTel"
                      id="telephone" style="font-weight: bold;color: black;">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="origineCV">Origine CV</label>
                    <label style="color: firebrick">*</label>

                    <ng-select [items]="origines" bindLabel="libelle" [compareWith]="helperService.compareFn" [(ngModel)]="currentCandidat.origine" name="origineCV"
                     id="origineCV" style="font-weight: bold;color: black;">                      
                    </ng-select>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="profil">Profil </label>
                    <label style="color: firebrick">*</label>

                    <ng-select [items]="technologies" bindLabel="libelle"  [compareWith]="helperService.compareFn" [(ngModel)]="currentCandidat.technologie" name="technologie"
                       id="profil" style="font-weight: bold;color: black;">
                      
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="codePostal">Code postal</label>
                    <label style="color: firebrick">*</label>

                    <ng-select aria-required="" id="codePostal" [items]="codePostals" (search)="codePostaleOnSearch($event)"
                      [ngModel]="currentCandidat?.codePostal" (ngModelChange)="currentCandidat.codePostal = $event"
                      name="codePostal" style="font-weight: bold;color: black;">
                      <ng-option *ngFor="let codeP of codePostals" [value]="codeP">{{codeP.code}}
                        {{codeP.ville}}</ng-option>

                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Region</label>
                    <div class="col-12">
                     <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.codePostal?.region}}</p>
                  </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Ville</label>
                    <div class="col-12">
                    <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.codePostal?.ville}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-7 col-form-label">Mobilité: </label>
                    <div class="col-4 col-form-label">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="mobiliteSrc" [(ngModel)]="currentCandidat.mobiliteSrc"
                          type="radio" id="inline-checkbox1" [value]="true">
                        <label class="form-check-label" for="inline-checkbox1">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="mobiliteSrc" [(ngModel)]="currentCandidat.mobiliteSrc"
                          type="radio" id="inline-checkbox2" [value]="false">
                        <label class="form-check-label" for="inline-checkbox2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-7 col-form-label">Pole Emploi: </label>
                    <div class="col-md-4 col-form-label">
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [(ngModel)]="currentCandidat.posteEnCours" name="poleEmploi"
                          type="radio" id="inline-checkbox3" [value]="true">
                        <label class="form-check-label" for="inline-checkbox3">Oui</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [(ngModel)]="currentCandidat.posteEnCours" name="poleEmploi"
                          type="radio" id="inline-checkbox4" [value]="false">
                        <label class="form-check-label" for="inline-checkbox4">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="entretienDispo">Disponible</label>
                    <ng-select [items]="disponibleListe" bindLabel="libelle"    [(ngModel)]="currentCandidat.entretien.disponible" name="entretienDispo"
                      id="entretienDispo" style="font-weight: bold;color: black;">    
                    </ng-select>

                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                <HR size="5" align="center" width="100%" />
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" [(ngModel)]="currentCandidat.adresse" id="adresse" style="font-weight: bold;color: black;">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="dateNaissance">Date de Naissance</label>
                    <input   [owlDateTimeTrigger]="dtdateNaissance" [owlDateTime]="dtdateNaissance" class="form-control"
                      name="dateNaissance" [(ngModel)]="currentCandidat.dateNaissance" id="dateNaissance" style="font-weight: bold;color: black;">
                    <owl-date-time (afterPickerClosed)="dateNaissanceChangedHandler()" [pickerType]="'calendar'" #dtdateNaissance></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="diplome">Diplome</label>
                    <input type="text" class="form-control" name="diplome" [(ngModel)]="currentCandidat.diplome" id="diplome" style="font-weight: bold;color: black;">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="age">Age</label>
                    <input readonly type="text" class="form-control" name="age" [(ngModel)]="currentCandidat.age" id="age" style="font-weight: bold;color: black;">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="dateObtentionDiplome">Date d'obtention du diplôme</label>
                    <month-year-picker (changed)="updateDateObtentionDiplome($event)" [innerValue]="currentCandidat.dateObtentionDiplome"></month-year-picker>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lieuNaissance">Lieu de Naissance</label>
                    <input type="text" class="form-control" name="lieuNaissance" [(ngModel)]="currentCandidat.lieuNaissance"
                      id="lieuNaissance" style="font-weight: bold;color: black;">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="entretienDate">Date entretien</label>
                    <input  [min]="minRelance" [owlDateTimeTrigger]="dtentretienDate"
                      [owlDateTime]="dtentretienDate" class="form-control" name="entretienDate" [(ngModel)]="currentCandidat.entretien.date"
                      id="entretienDate" style="font-weight: bold;color: black;">
                    <owl-date-time [pickerType]="'calendar'" #dtentretienDate></owl-date-time>

                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="timeEntretien">Heure entretien</label>
                    <input  class="form-control" placeholder="Time:"
                      [(ngModel)]="timeEntretien" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" style="font-weight: bold;color: black;">
                    <owl-date-time (afterPickerClosed)="afterHeurePickerClosed()" [pickerType]="'timer'" #dt2></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="entretienLieu">Lieu entretien</label>
                    <ng-select [items]="lieux" bindLabel="libelle" [compareWith]="helperService.compareFn" [(ngModel)]="currentCandidat.entretien.lieu" name="entretienLieu"
                    id="entretienLieu" style="font-weight: bold;color: black;">
                    
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class=" form-group row">
                <label class="col-4 col-form-label" for="entretienPertinence">Pertinence Cv</label>
                <div class="col-7" style="margin-top:8px">
                  <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.pertinence}} </p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Chargé recrutement</label>
                <div class="col-7">
                  <p class="form-control-static" style="margin-top:8px;font-weight: bold;color: black;">{{currentCandidat.entretien.charge!=null ?
                    currentCandidat.entretien.charge.nom :""}} {{currentCandidat.entretien.charge!=null ?
                    currentCandidat.entretien.charge.prenom :""}}</p>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                <div class="col-12">
                  <div class="form-group">
                    <label for="comEntrtien">Commentaire</label>
                    <textarea id="comEntrtien" [(ngModel)]="currentCandidat.entretien.commentaire" name="comEntrtien"
                      rows="4" class="form-control" style="font-weight: bold;color: black;"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group row competences">
                <div class="col-md-3 col-form-label" *ngFor="let compt of competences; let i = index">
                  <div class="form-check form-check-inline mr-1">
                      <label class="label--checkbox">
                          <input  class="checkbox" type="checkbox" [name]="'cmp'+i" [(ngModel)]="competences[i].selected"
                              id="inline-checkbox1" [value]="compt.id">
                      </label>
                      <label style="margin-bottom: 0px">{{compt.libelle}}</label>
                    </div>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                <HR size="5" align="center" width="100%" />
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label">Chargé recrutement:</label>
                <div class="col-7">
                  <p class="form-control-static" style="margin-top:8px;font-weight: bold;color: black;">{{currentCandidat.suivi.charge!=null ?
                    currentCandidat.suivi.charge.nom :""}} {{currentCandidat.suivi.charge!=null ?
                    currentCandidat.suivi.charge.prenom :""}}</p>
                </div>
              </div>

              <div class="row">
                <label style="color: blue;font-weight:bold">Présentation générale</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <div>
                    <label style="margin-right: 0px;margin-bottom: 0px">Présentation:</label>
                    <label style="color: firebrick">*</label>
                  </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.notePresentation' [name]="'notePresentation'"
                      (ratingClick)='ratingComponentClick($event)' ></app-rating>
                      <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.notePresentation' [name]="'notePresentation'"></app-rating-disabled>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <div>   <label style="margin-right: 0px;margin-bottom: 0px">Savoir etre:</label>
                        <label style="color: firebrick">*</label>
                      </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.noteSavoir' [name]="'noteSavoir'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.noteSavoir' [name]="'noteSavoir'"></app-rating-disabled>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                   <div> <label style="margin-right: 0px;margin-bottom: 0px">Fiabilité:</label>
                    <label style="color: firebrick">*</label>
                  </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.noteFiabilite' [name]="'noteFiabilite'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.noteFiabilite' [name]="'noteFiabilite'"></app-rating-disabled>

                  </div>
                </div>
              </div>
              <div class="row">
                <label style="color: blue;font-weight:bold">Motivation</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                      <div>   <label>Attrait pour l'informatique:</label>
                        <label style="color: firebrick">*</label>
                      </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.noteAttrait' [name]="'noteAttrait'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.noteAttrait' [name]="'noteAttrait'"></app-rating-disabled>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <div>   <label style="margin-right: 0px;margin-bottom: 0px">Prêt à la reconversion:</label>
                        <label style="color: firebrick">*</label>
                      </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.notePret' [name]="'notePret'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.notePret' [name]="'notePret'"></app-rating-disabled>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                      <div>   <label style="margin-right: 0px;margin-bottom: 0px">Mobilité:</label>
                        <label style="color: firebrick">*</label>
                      </div>
                    <app-rating [hidden]="disabledtime==true"  [rating]='currentCandidat.suivi.noteMobilite' [name]="'noteMobilite'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.noteMobilite' [name]="'noteMobilite'"></app-rating-disabled>

                  </div>
                </div>
              </div>

              <div class="row">
                <label style="color: blue;font-weight:bold">Autre critéres:</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="noteResultat">Résultat du test:</label>
                    <label style="color: firebrick">*</label>
                    <input class="form-control" name="noteResultat"  min="0" max="45" oninput="this.value=(this.value.startsWith('0')) ? this.value.slice(0,1) : this.value; validity.valid||(value='');" type="number" id="noteResultat" 
                    (keyup)="numberOnly()" [(ngModel)]="currentCandidat.suivi.noteResultat" [disabled]="disabledtime==true">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <div>  <label style="margin-right: 0px;margin-bottom: 0px">Cohérence du parcours:</label>
                        <label style="color: firebrick">*</label>
                      </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.noteCoherence' [name]="'noteCoherence'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.noteCoherence' [name]="'noteCoherence'"></app-rating-disabled>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                      <div>   <label style="margin-right: 0px;margin-bottom: 0px">Potentiel d’évolution:</label>
                        <label style="color: firebrick">*</label>
                      </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.notePistes' [name]="'notePistes'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.notePistes' [name]="'notePistes'"></app-rating-disabled>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <div>   <label style="margin-right: 0px;margin-bottom: 0px">Anglais:</label>
                        <label style="color: firebrick">*</label>
                      </div>
                    <app-rating [hidden]="disabledtime==true" [rating]='currentCandidat.suivi.anglais' [name]="'anglais'" (ratingClick)='ratingComponentClick($event)'></app-rating>
                    <app-rating-disabled [hidden]="!disabledtime==true" [rating]='currentCandidat.suivi.anglais' [name]="'anglais'"></app-rating-disabled>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-7 col-form-label">Mobilité: </label>
                    <label style="color: firebrick">*</label>

                    <div class="col-4 col-form-label">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="mobiliteSuivi" [(ngModel)]="currentCandidat.suivi.mobilite"
                          type="radio" id="inline-checkbox1" [value]="true" [disabled]="disabledtime==true">
                        <label class="form-check-label" for="inline-checkbox1">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="mobiliteSuivi" [(ngModel)]="currentCandidat.suivi.mobilite"
                          type="radio" id="inline-checkbox2" [value]="false" [disabled]="disabledtime==true">
                        <label class="form-check-label" for="inline-checkbox2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-7 col-form-label">Mobilité sur toute la France:</label>
                    <div class="col-md-4 col-form-label">
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [(ngModel)]="currentCandidat.entretien.mobilteTouFrance" name="mobilteTouFrance"
                          type="radio" id="inline-checkbox3" [value]="true" [disabled]="disabledtime==true">
                        <label class="form-check-label" for="inline-checkbox3">Oui</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [(ngModel)]="currentCandidat.entretien.mobilteTouFrance" name="mobilteTouFrance"
                          type="radio" id="inline-checkbox4" [value]="false" [disabled]="disabledtime==true">
                        <label class="form-check-label" for="inline-checkbox4">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-7 col-form-label">Relancer: </label>
                    <label style="color: firebrick">*</label>

                    <div class="col-4 col-form-label">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="suiviRelance" [(ngModel)]="currentCandidat.suivi.relance"
                          type="radio" id="inline-checkbox5" [value]="true" [disabled]="disabledtime==true">
                        <label class="form-check-label" for="inline-checkbox5">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="suiviRelance" [(ngModel)]="currentCandidat.suivi.relance"
                          type="radio" id="inline-checkbox6" [value]="false" [disabled]="disabledtime==true">
                        <label class="form-check-label" for="inline-checkbox6">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="dateRelance">Date relance</label>
                    <input [disabled]="currentCandidat.suivi.relance!=true" [owlDateTimeTrigger]="suiviDateRelance" [owlDateTime]="suiviDateRelance" class="form-control"
                      name="dateRelance" [(ngModel)]="currentCandidat.suivi.dateRelance" id="suiviDateRelance">
                    <owl-date-time [pickerType]="'calendar'" #suiviDateRelance></owl-date-time>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label for="suiviRegions">Mobilité regions</label>                    
                        <ng-select
                        [multiple]="true"
                        [items]="regions"
                        bindLabel="code"
                        [disabled]="true"
                       (click)="openRegionsDialog()" 
                        name="suiviRegions" 
                        [(ngModel)]="currentCandidat.suivi.regions"
                         id="suiviRegions" style="font-weight: bold;color: black;">
                      </ng-select>
                      </div>
                    </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="entretienMobilteCharge">Mobilité Ville</label>
                    <input type="text" class="form-control" [disabled]="disabledtime==true" name="entretienMobilteCharge" [(ngModel)]="currentCandidat.entretien.mobilteCharge" id="entretienMobilteCharge" style="font-weight: bold;color: black;">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Statut:</label>
                    <ng-select  bindvalue="libelle" bindLabel="libelle" [items]="statuts"  [(ngModel)]="currentCandidat.statut" name="statut"
                      id="statut" style="font-weight: bold;color: black;" [disabled]="disabledtime==true">
                    </ng-select>
                  </div>
                </div>

               
              </div>
              <div class="row">
                <div class="col-12" *ngIf="currentCandidat.statut.libelle=='Valide'">
                  <div class="form-group">
                    <label for="sessionFormation">Affectation Candidat</label>
                    <ng-select placeholder="--Sélectionner--" bindLabel="itemLabel" [items]="sessionFormations"  [compareWith]="helperService.compareFn" [(ngModel)]="currentCandidat.sessionFormation" name="sessionFormation"
                      id="sessionFormation" style="font-weight: bold;color: black;">
                    </ng-select >
                  </div>
                </div>
              </div>

            </div><!-- /champ -->
          </div><!-- /.row -->

        </div><!-- /.body -->
        <div class="card-footer">
          <div class="row align-items-center">
            <div  class="col-form-label" [ngClass]="enableSave?'col-md-9' :'col-md-10 '">
            </div>
            <div >
              <button  type="button" [disabled]="file==undefined" (click)="downloadPDF()" class="btn btn-block btn-warning">Télécharger
                Cv</button>
            </div>
            <div  style="padding-left: 3px" *ngIf="enableSave">
              <button type="button" (click)="sauvgarderFicheEntrtien()" class="btn btn-block btn-success">Sauvegarder</button>
            </div>
            <div style="padding-left: 3px">
              <button (click)="annuler()" type="button" class="btn btn-block btn-danger">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <div bsModal #regionFranceModal="bs-modal" class="modal fade"  >
    <div class="modal-dialog modal-primary  modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Mobilité par régions</h4>
          <button type="button" class="close" (click)="regionFranceModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="margin-left: 50px">
            <div id="france-map" style="width: 400px; height: 400px"></div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="selectionnerTousRegion()" class="btn btn-primary">Toute la France</button>
          <button type="button" (click)="validerRegion()" class="btn btn-primary">Valider</button>
          <button type="button" class="btn btn-secondary" (click)="regionFranceModal.hide()">Annuler</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->