<div class="card">

    <div class="card-header">
        <label style="font-weight:bold;color:#546E7A;">{{title}}</label>
    </div>

    <div class="card-body">
        <div class="form-group row" style="float: right">
            <div class="col-md-12">
                <div class="input-group">
                    <div autoClose="false" class="btn-group" style="float: right;" dropdown>
                        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                            Colonnes <span class="caret"></span>
                        </button>
                        <ul  (click)="$event.stopPropagation()" class="light" *dropdownMenu class="dropdown-menu"
                            role="menu">
                            <li style="height: 30px" role="menuitem" *ngFor="let col of columns"> <a style="padding: 0px ;height: 35px" class="dropdown-item">
                                    <label class="label--checkbox">
                                        <input class="checkbox" [(ngModel)]="col.visible" type="checkbox" />
                                    </label>
                                    <label>{{col.title}}</label></a>
                            </li>

                            <li *ngIf="actions!=null && actions.items.length >0" style="height: 30px" role="menuitem" > <a style="padding: 0px ;height: 35px" class="dropdown-item">
                                    <label class="label--checkbox">
                                        <input class="checkbox" [(ngModel)]="actions.visible" type="checkbox" />
                                    </label>
                                    <label>{{actions.title}}</label></a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <table class="table  table-striped">
            <thead>
                <tr>
                    <th  [ngStyle]="{'width': (col.width!=undefined) ? col.width :'' }" [hidden]="!col.visible" *ngFor="let col of columns"> {{col.title }}</th>
                    <th [hidden]="actions==null ||!actions.visible"  *ngIf="actions!=null && actions.items.length >0" [ngStyle]="{ 'width' :( actions.items.length>1)  ? (actions.items.length*45)+'px' : '70px'}">{{actions.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of items| paginate: { itemsPerPage:10, currentPage: p }">
                        <td [hidden]="!col.visible" *ngFor="let col of columns"> 
                            <div *ngIf="col.rendered==null || col.rendered==undefined; else rendered" [ngStyle]="{'text-align': (col.align!=undefined) ? col.align :'' }">
                                <div *ngIf="col.mask==undefined; else maskDiv">
                                    <div *ngIf="col.dateFormat!=undefined; else noDateDiv">
                                            {{c[col.data] | date : col.dateFormat }} 
                                    </div>
                                  <ng-template #noDateDiv>  {{c[col.data] }}</ng-template>
                                </div>
                                <ng-template #maskDiv> {{c[col.data] | mask : col.mask }} </ng-template>
                            </div>
                            <ng-template #rendered>
                                <div *ngIf="col.html==true; else noHtml" [innerHTML]="col.rendered(c)"></div>
                                <ng-template #noHtml>
                                    {{col.rendered(c)}}
                                </ng-template>
                            </ng-template></td>

                    <td [hidden]="actions==null ||!actions.visible" *ngIf="actions!=null && actions.items.length >0" [ngStyle]="{ 'width' :( actions.items.length>1)  ? (actions.items.length*45)+'px' : '70px'}">                
                        <button  style="margin-left: 3px"  placement="top" [tooltip]="action.tooltip==undefined ?'':action.tooltip" *ngFor="let action of actions.items" type="button" (click)="action.action(c)"  [class]="action.class">
                            <i [class]="action.icon"></i>
                        </button> 
                        </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer panel-default pager">
            <ul class="pagination justify-content-center">
                <li [class.disabled]="1==currentPage" class="page-item">
                    <a (click)="setPage(1)" class="page-link">«</a>
                </li>
                <li [class.disabled]="1==currentPage" class="page-item">
                    <a (click)="setPage(currentPage-1)" class="page-link">‹</a>
                </li>
                <li [class.active]="p==currentPage" class="page-item" *ngFor=" let p of pages">
                    <a class="page-link" (click)="setPage(p)">{{p}}</a>
                </li>
                <li [class.disabled]="currentPage==lastPage" class="page-item">
                    <a (click)="setPage(currentPage+1)" class="page-link">›</a>
                </li>
                <li [class.disabled]="currentPage==lastPage" class="page-item">
                    <a (click)="setPage(lastPage)" class="page-link">»</a>
                </li>
            </ul>
        </div>
    </div>
  <!--<ngx-loading [show]="loading" [config]=""></ngx-loading>-->
</div>