<div class="animated fadeIn">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <label style="font-weight:bold;color:#546E7A;">Recherche</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="dateDebut" style="font-weight:bold">Date debut</label>
                            <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="form-control" name="dateDebut"
                                [(ngModel)]="condidat.dateDebut" id="dateDebut">
                            <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="dateFin" style="font-weight:bold">Date fin</label>
                            <input [owlDateTimeTrigger]="dtdateFin" [owlDateTime]="dtdateFin" class="form-control" name="dateFin"
                                [(ngModel)]="condidat.dateFin" id="dateFin">
                            <owl-date-time [pickerType]="'calendar'" #dtdateFin></owl-date-time>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="dateEntretien" style="font-weight:bold">Date
                                entretien:</label>
                            <input [owlDateTimeFilter]="dateEntretienDateFilter" [owlDateTimeTrigger]="dateEntretien"
                                [owlDateTime]="dateEntretien" class="form-control" name="dateEntretien" [(ngModel)]="condidat.dateEntretien"
                                id="dateEntretien">
                            <owl-date-time [pickerType]="'calendar'" #dateEntretien></owl-date-time>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="profil" style="font-weight:bold">Type de profil:</label>
                            <ng-select bindValue="libelle"  bindLabel="libelle" [items]="technologies"    [compareWith]="helperService.compareFn" [(ngModel)]="condidat.technologie" name="technologie"  >
                                </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="prenom" style="font-weight:bold">Region:</label>
                            <ng-select aria-required="" id="region" [items]="region" (search)="codePostaleOnSearch($event)"
                                [ngModel]="condidat.region" (ngModelChange)="condidat.region = $event" name="region">
                                <ng-option *ngFor="let reg of region" [value]="reg.code">{{reg.code}}</ng-option>

                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="nomSourceur" style="font-weight:bold">Nom Sourceur
                                :</label>
                            <input type="text" class="form-control" name="nomSourceur" [(ngModel)]="condidat.nomSourceur"
                                id="nomSourceur">

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="prenomSourceur" style="font-weight:bold">Prenom
                                Sourceur :</label>
                            <input type="text" class="form-control" name="prenomSourceur" [(ngModel)]="condidat.prenomSourceur"
                                id="prenomSourceur">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="nomSourceur" style="font-weight:bold">Nom charge :</label>
                            <input type="text" class="form-control" name="nomSourceur" [(ngModel)]="condidat.nomCharge"
                                id="nomSourceur">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="prenomSourceur" style="font-weight:bold">Prenom
                                charge :</label>
                            <input type="text" class="form-control" name="prenomSourceur" [(ngModel)]="condidat.prenomCharge"
                                id="prenomSourceur">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="profil" style="font-weight:bold">Lieu entretien:</label>
                            <ng-select bindValue="libelle"  bindLabel="libelle" [items]="lieux"    [compareWith]="helperService.compareFn" [(ngModel)]="condidat.lieuEntretien" name="lieuEntretien"  >
                                </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="origineCV" style="font-weight:bold">Origine CV</label>
                           
                            <ng-select bindValue="libelle"  bindLabel="libelle" [items]="origines"    [compareWith]="helperService.compareFn" [(ngModel)]="condidat.origine" name="lieuEntretien"  >
                                </ng-select>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="statut" style="font-weight:bold">Statut :</label>
                               
                            <ng-select bindValue="value"  bindLabel="label" [items]="refStatut"    [compareWith]="helperService.compareFn" [(ngModel)]="condidat.statut" name="disponibilite"  >
                                </ng-select>
                        </div>
                    </div>



                </div>
            </div>
            <div class="card-footer">

                <div class="row align-items-center">
                        <div class="col-10"></div>
                        <div >
                            <button type="button" class="btn btn-block btn-primary" (click)="rechercheCandidat()">Rechercher</button>
                        </div>

                        <div style="padding-left: 5px" >
                            <button type="button" class="btn btn-block btn-danger" (click)="reset()" style="float: right;">Réinitialiser</button>
                        </div>
                </div>
            </div>
        </div>

        <custom-table [item]="condidat" [actions]="actions" [title]="titleTable" [parent]="this" #table [columns]="columns" ></custom-table>
    </div>
</div>