.cursor{
    cursor: pointer;
}
.has-error{
    color : red;
    border-color : red;
    border-block-start-color: red;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(240, 8, 8, 0.25);
  }
  .danger{
    color: red
  }