<div class="card">
        <div class="panel panel-default" *ngFor="let formation of formations; let i = index">
        <div class="card-header">
        <a  role="button" (click)="this.isCollapsed[i] = !this.isCollapsed[i]" href="#{{formation.id}}">
                <span>{{formation.code}}</span>
        </a>
        </div>
        <div class="card-body"
             (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed[i]">
             <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Nom Formation</th>
                                <th>Technologie</th>
                                <th>Lieu</th>
                                <th>Type Formation</th>
                                <th>Date Démarage</th>
                                <th>Date Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let f of sessionFormations; let i = index">
                                <tr *ngIf="formation.id == f.formation.id">
                                    <td>{{f.formation.code}}
                                    <td>{{f.formation.nom}}</td>
                                    <td>{{f.formation.technologie.libelle}}</td>
                                    <td>{{f.formation.lieu.libelle}}</td>
                                    <td>{{f.formation.typeFormation.libelle}}</td>
                                    <td>{{f.dateDemarrage | date :'dd/MM/yyyy'}}</td>
                                    <td>{{f.dateFin | date :'dd/MM/yyyy' }}</td>
                                    
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
      </div>
