<div class="animated fadeIn">
    <div class="row">
        <div class="card">
            <form #rechercheForm="ngForm">
                <div class="card-header">
                    <label style="font-weight:bold;color:#546E7A;">Recherche</label>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="nom">Nom:</label>
                                <input type="text" class="form-control" name="nom" [(ngModel)]="condidat.nom" id="nom">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="prenom">Prénom :</label>
                                <input type="text" class="form-control" name="prenom" [(ngModel)]="condidat.prenom" id="prenom">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="numeroTel">N° téléphone:</label>
                                <input type="text" class="form-control" name="prenom" [(ngModel)]="condidat.numeroTel"
                                    id="numeroTel" [textMask]="{mask: mask}">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="email">Email:</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="condidat.email" id="email">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="dateInscription">Date Inscription:</label>
                                <input type="date" class="form-control" name="dateInscription" [(ngModel)]="condidat.dateInscription"
                                    id="dateInscription">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="profil">Type de profil:</label>
                                <select [(ngModel)]="condidat.technologie" name="profil" class="form-control input-sm">
                                    <option value="">-- Sélectionner --</option>
                                    <option *ngFor="let tech of technologies" [value]="tech.libelle">{{ tech.libelle }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="nomSourceur">Nom Sourceur :</label>
                                <input type="text" class="form-control" name="nomSourceur" [(ngModel)]="condidat.nomSourceur"
                                    id="nomSourceur">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="prenomSourceur">Prenom Sourceur :</label>
                                <input type="text" class="form-control" name="prenomSourceur" [(ngModel)]="condidat.prenomSourceur"
                                    id="prenomSourceur">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="prenom">Region:</label>
                                <input type="text" class="form-control" name="region" [(ngModel)]="condidat.region" id="region">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-col-form-label" for="region">Fraicheur CV:</label>
                                <select [(ngModel)]="condidat.critereRecheche" name="region" class="form-control input-sm">
                                    <option selected value="">-- Sélectionner --</option>
                                    <option value="1">Moins 1 mois</option>
                                    <option value="2">Entre 1 et 6 mois</option>
                                    <option value="3">Plus de 6 mois</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">

                    <div class="row align-items-center">
                        <div class="col-2">
                            <button type="button" class="btn btn-block btn-primary" (click)="rechercheCandidat()">Rechercher</button>
                        </div>

                        <div class="col-2">
                            <button type="button" class="btn btn-block btn-primary" (click)="reset()" style="float: right;">Réinitialiser</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card">

            <div class="card-header">
                <label style="font-weight:bold;color:#546E7A;">Liste des nouveaux candidats</label>
            </div>

            <div class="card-body">
                <div autoClose="false" class="btn-group" style="float: right;" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        Colonnes <span class="caret"></span>
                    </button>
                    <ul (click)="$event.stopPropagation()" class="light" *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let col of columns"> <a class="dropdown-item"><input [(ngModel)]="col.visible" type="checkbox" />{{col.title}}</a></li>
                       
                    </ul>
                </div>
                <table class="table  table-striped">
                    <thead>
                        <tr>
                            <th [hidden]="!col.visible" *ngFor="let col of columns"> {{col.title }}</th>
                            <th style="width: 120px">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of candidats">
                            <td [hidden]="!col.visible" *ngFor="let col of columns"> {{c[col.data] }}</td>
                            <td style="width: 120px"><button type="button" (click)="openDetails(c)" class="btn btn-outline-primary btn-sm">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" style="margin-left: 5px" (click)="downloadCV(c)" class="btn btn-outline-info btn-sm">
                                    <i class="fa fa-download"></i>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li [class.disabled]="1==currentPage" class="page-item">
                        <a (click)="setPage(1)" class="page-link">«</a>
                    </li>
                    <li [class.disabled]="1==currentPage" class="page-item">
                        <a (click)="setPage(currentPage-1)" class="page-link">‹</a>
                    </li>
                    <li [class.active]="p==currentPage" class="page-item" *ngFor=" let p of pages">
                        <a class="page-link" (click)="setPage(p)">{{p}}</a>
                    </li>
                    <li [class.disabled]="currentPage==lastPage" class="page-item">
                        <a (click)="setPage(currentPage+1)" class="page-link">›</a>
                    </li>
                    <li [class.disabled]="currentPage==lastPage" class="page-item">
                        <a (click)="setPage(lastPage)" class="page-link">»</a>
                    </li>
                </ul>
            </div>
            <ngx-loading [show]="loading" [config]=""></ngx-loading>
        </div>
    </div>
</div>