// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or 
// @import "~@ng-select/ng-select/themes/material.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
.custom-class {
    top: 0;
    z-index: 2002;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000ba;
    border-radius: 3px;
  }
  
  .custom-class h3 {
    color: white;
  }