<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="height: 95% !important;">
          <div class="card-header">
            <label style="font-weight:bold;color:#546E7A;">CV en attente de traitement</label>
          </div>
          <div class="card-body" >
              <canvas baseChart class="chart"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [colors]="ChartColors"
              [chartType]="pieChartType"
              [options]="chartOptionss">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <label style="font-weight:bold;color:#546E7A;">Nombre de CV à relancer par chargé de recrutement</label>
            </div>
          <div class="card-body">
            <table class="table table-bordered table-striped" >
              <thead>
                <tr>
                  <th>Chargé recrutement</th>
                  <th>Nombre CV à relancer</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let charge of ReportingChargeRelance| paginate: { itemsPerPage:5, currentPage: pr, id: 'pr' }">
                  <td>{{charge.nomCharge}}</td>
                  <td>{{charge.nombreCvRelance}}</td>
                  <td style="width: 10%">     
                    <a class="btn btn-default" (click)="openDetailsCVRelance(charge)" >
                          <i class="cui-magnifying-glass icons font-xl d-block mt-2"></i>
                        </a>         
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer panel-default pager">
              <pagination-controls (pageChange)="pr =$event" id="pr"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <label style="font-weight:bold;color:#546E7A;">Sessions de formation</label>
          </div>
          <div class="card-body" >
            <table class="table table-bordered table-striped table-sm " style="font-size: 0.6rem !important;">
              <thead>
                <tr>
                  <th>Nom de la formation</th>
                  <th>Lieu de la formation</th>
                  <th>Type de formation</th>
                  <th>Date Démarrage</th>
                  <th>Candidat validé par C.R.</th>
                  <th>Candidat ayant accepté la formation</th>
                  <th>Nombre de place</th>
                  <th>Taux d'acceptation</th>
                  <th>Taux de remplissage</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let session of Sessionreporting| paginate: { itemsPerPage:5, currentPage: ps, id: 'ps' }">
                  <td >{{session.nomFormation}}</td>
                  <td>{{session.lieuFormation}}</td>
                  <td>{{session.typeFormation}}</td>
                  <td>{{session.dateDemarrage}}</td>
                  <td>{{session.candidatAffectation}}</td>
                  <td>{{session.candidatAcceptation}}</td>
                  <td>{{session.nombrePlace}}</td>
                  <td>{{session.tauxAcceptation}}%</td>
                  <td>{{session.tauxRemplissage}}%</td>
                  <td style="width: 10%">     
                    <a class="btn btn-default" (click)="openDetailsSession(session)">
                          <i class="cui-magnifying-glass icons font-xl d-block mt-2"></i>
                        </a>         
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer panel-default pager">
              <pagination-controls (pageChange)="ps =$event" id="ps"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
              <label style="font-weight:bold;color:#546E7A;">Nombre de CV intégrés au niveau de l'application
                </label>
          </div>
          <div class="card-body">
              <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Sourceur</th>
                      <th>Mainframe</th>
                      <th>Mainframe++</th>
                      <th>NTIC</th>
                      <th>Autres technologies</th>
                      <th>TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let technologie of Sourceurtechnologies| paginate: { itemsPerPage:5, currentPage: pt, id: 'pt' }">
                      <td>{{technologie.nom}}</td>
                      <td>{{technologie.nbrCvMainframe}}</td>
                      <td>{{technologie.nbrCvMainframePlus}}</td>
                      <td>{{technologie.nbrCvNtic}}</td>
                      <td>{{technologie.autreTechnologie}}</td>
                      <td>{{technologie.total}}</td>
                    </tr>
                  </tbody>
                </table>
               <div class="panel-footer panel-default pager">
                    <pagination-controls (pageChange)="pt =$event" id="pt"></pagination-controls>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  