
<div class="animated fadeIn">
    <div class="row">
            <div class="card">
                    <div class="card-header">
                            <label style="font-weight:bold;color:#546E7A;">Recherche</label>
                    </div>
                    <div class="card-body">
                            <div class="row">      
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="nom">Nom:</label>
                                            <input type="text" class="form-control"  name="nom" [(ngModel)]="condidat.nom" id="nom"> 
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="form-col-form-label" for="prenom">Prénom :</label>
                                            <input type="text" class="form-control"   name="prenom" [(ngModel)]="condidat.prenom" id="prenom">
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="form-col-form-label" for="numeroTel">N° téléphone:</label>
                                                <input type="text" class="form-control"   name="prenom" [(ngModel)]="condidat.numeroTel" id="numeroTel">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="form-col-form-label" for="email">Email:</label>
                                                    <input type="text" class="form-control"   name="email"  [(ngModel)]="condidat.email" id="email">
                                                    
                                                </div>
                                        </div>
                                            <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label class="form-col-form-label" for="dateInscription">Date Inscription:</label>
                                                        <input type="text" class="form-control" name="dateInscription" [(ngModel)]="condidat.dateInscription" id="dateInscription">
                                                        
                                                    </div>
                                            </div>
                                            <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="nom">Type de profil:</label>
                                                        <input type="text" class="form-control"  name="technologie" [(ngModel)]="condidat.technologie" id="nom">
                                                        
                                                    </div>
                                                </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="form-col-form-label" for="prenom">Sourceur :</label>
                                                <input type="text" class="form-control"   name="nomSourceur" [(ngModel)]="condidat.nomSourceur" id="nomSourceur">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="form-col-form-label" for="prenom">Region:</label>
                                                    <input type="text" class="form-control"   name="region" [(ngModel)]="condidat.region" id="region">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label class="form-col-form-label" for="region">Fraicheur CV:</label>
                                                        <input type="text" class="form-control"   name="region" [(ngModel)]="condidat.prenom" id="region">
                                                    </div>
                                                </div>
                                    </div>
                    </div>
                    <div class="card-footer">

                            <div class="row align-items-center">
                                <div class="col-2">
                                    <button type="button" class="btn btn-block btn-primary" (click)="rechercheCandidat()">Rechercher</button>
                                </div>
    
                                <div class="col-2">
                                    <button  type="button" class="btn btn-block btn-primary" (click)="getListeCandidat()" style="float: right;">Réinitialiser</button>
                                </div>
                            </div>
                        </div>
                  </div>
                  
        <div class="card"> 
                         
            <div class="card-header">
                    <label style="font-weight:bold;color:#546E7A;">Liste des nouveaux candidats</label>
            </div>
         
              <div class="card-body">
                    <div class="form-group row" style="float: right">
                            <div class="col-md-12">
                              <div class="input-group">
                                <div class="input-group-prepend" dropdown>
                                  <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>Action
                                    <span class="caret"></span>
                                  </button>
                                  <div class="dropdown-menu" *dropdownMenu>
                                        <ul class="light">
                                                <li><input type="checkbox"/>Option 1</li>
                                                <li><input type="checkbox"/>&nbsp;Option 2</li>
                                                <li><input type="checkbox"/>&nbsp;Option 3</li>
                                                <li><input type="checkbox"/>&nbsp;Option 4</li>
                                                <li><input type="checkbox"/>&nbsp;Option 5</li>
                                                <li><input type="checkbox"/>&nbsp;Option 6</li>
                                              </ul>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                          </div>  
                <table class="table  table-striped">
                  <thead >
                    <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>N° Téléphone</th>
                      <th>Email</th>
                      <th>Date inscription</th>
                      <th>Type de profil</th>
                      <th>Région</th>
                      <th>Nom sourceur</th>
                      <th>Prénom sourceur</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let c of candidats| paginate: { itemsPerPage:10, currentPage: p }">
                      <td>{{c.nom}}</td>
                      <td>{{c.prenom}}</td>
                      <td>{{c.numeroTel}}</td>
                      <td>{{c.email}}</td>
                      <td>{{c.dateisncription }}</td>
                      <td>{{c.technologie}}</td>
                      <td>{{c.region}}</td>
                      <td>{{c.nomSourceur}}</td>
                      <td>{{c.prenomSourceur}}</td>
                      <td><span class="glyphicon glyphicon-search"></span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="panel-footer panel-default pager">
                        <pagination-controls (pageChange)="p =$event"></pagination-controls>
                </div>
              </div>
          
          </div>
    </div>
</div>