<div class="animated fadeIn">
<div class="row">
        <div class="card"> 
                         
                <div class="card-header">
                        <label style="font-weight:bold;color:#546E7A;">Region</label>
                </div>
    <div class="card-body">
        <table class="table table-bordered table-striped" >
          <thead>
            <tr>
              <th>Libellés</th>
              <th>Actif</th>
              <th>Reporting</th>
              <th>Ation</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let region of Listregion| paginate: { itemsPerPage:10, currentPage: p }">
              <td>{{region.code}}</td>
              <td>{{region.actif| boolean}}</td>
              <td>{{region.reporting| boolean}}</td>
              <td style="width: 120px">
                <button type="button" (click)="showEditModal(region)" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-edit"></i>
            </button>       
            </tr>
          </tbody>
        </table>
        <div class="panel-footer panel-default pager">
          <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </div>
      </div>
      

</div>



<div bsModal #regionEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-primary  modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Region</h4>
      <button type="button" class="close" (click)="regionEditModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding: 52px">
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Libelle :</label>
          <div class="col-md-8">
              <input class="form-control" [(ngModel)]="region.code" name="libelle" id="libelle"  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Actif :</label>
          <div class="col-md-8">
              <input class="form-control" type="checkbox" [(ngModel)]="region.actif" name="actif" id="actif"  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Reporting :</label>
          <div class="col-md-8">
              <input class="form-control" type="checkbox" [(ngModel)]="region.reporting" name="reporting" id="reporting"  />
          </div>
        </div>
        
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="regionEditModal.hide()">Annuler</button>
      <button type="button" (click)="updateRegion(region)"  class="btn btn-primary">Valider</button>
    </div>
  </div>
</div>
</div>


</div>
</div>