<div class="animated fadeIn">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <label style="font-weight:bold;color:#546E7A;">Competences</label>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <td style="text-align:center">
                <div class="form-group">
                  <h6 style="color:rgba(34, 7, 155, 0.918);" class="text-center"><b>Libelle</b></h6>

                  <input style="font-weight: bold;color: black;" type="text" class="form-control"
                    (input)="searchingcompetence($event)">
                </div>


              </td>


              <td style="text-align:right">
                <div class="form-group">
                  <h6 style="color:rgba(34, 7, 155, 0.918);"><b>Action</b></h6>
                </div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let com of ListCompetences  | paginate: { itemsPerPage:10, currentPage: pt, id: 'pt' }">
              <td>{{com.libelle}}</td>
              <td style="text-align:right"><button class='btn btn-outline-success btn-sm' (click)="showEditModal(com)">
                  <i class="fa fa-edit" aria-hidden="true"></i></button>
                <button style="margin:10px;" class='btn btn-outline-danger btn-sm' (click)="showDeleteModal(com)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>
        <div class="panel-footer panel-default pager">
          <pagination-controls (pageChange)="pt =$event" id="pt"></pagination-controls>
        </div>
      </div>
      <div class="card-footer">
        <div class="col-2">
          <button type="button" (click)="showAddModal()" class="btn btn-block btn-primary">Ajouter </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #competenceDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger  modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Suppression</h4>
        <button type="button" class="close" (click)="competenceDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 52px">
        Êtes-vous sûr de vouloir supprimer ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="competenceDeleteModal.hide()">Annuler</button>
        <button type="button" (click)="deleteCompetence()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #competenceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Competences</h4>
        <button type="button" class="close" (click)="competenceModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 52px">
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Libelle :</label>
            <div class="col-md-8">
              <input class="form-control" style="font-weight: bold;color: black;" [(ngModel)]="competence.libelle"
                name="libelle" id="libelle" />

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="competenceModal.hide()">Annuler</button>
        <button type="button" (click)="saveCompetence()" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</div>