<div class="animated fadeIn">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <label style="font-weight:bold;color:#546E7A;">Recherche</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="nom" style="font-weight:bold">Nom:</label>
                            <input style="font-weight: bold;color: black;" type="text" class="form-control" name="nom"
                                [(ngModel)]="condidat.nom" id="nom">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="prenom" style="font-weight:bold">Prénom :</label>
                            <input style="font-weight: bold;color: black;" type="text" class="form-control"
                                name="prenom" [(ngModel)]="condidat.prenom" id="prenom">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="numeroTel" style="font-weight:bold">N°
                                téléphone:</label>
                            <input style="font-weight: bold;color: black;" type="text" class="form-control"
                                name="prenom" [(ngModel)]="condidat.numeroTel" id="numeroTel" [textMask]="{mask: mask}">

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="dateEntretien" style="font-weight:bold">Date
                                entretien:</label>
                            <input style="font-weight: bold;color: black;" [owlDateTimeTrigger]="dateEntretien"
                                [owlDateTime]="dateEntretien" class="form-control" name="dateEntretien"
                                [(ngModel)]="condidat.dateEntretien" id="dateEntretien">
                            <owl-date-time [pickerType]="'calendar'" #dateEntretien></owl-date-time>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="profil" style="font-weight:bold">Lieu entretien:</label>
                            <ng-select style="font-weight: bold;color: black;" placeholder="--Sélectionner--"
                                bindValue="libelle" bindLabel="libelle" [items]="lieux"
                                [compareWith]="helperService.compareFn" [(ngModel)]="condidat.lieuEntretien"
                                name="lieuEntretien">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="charge" style="font-weight:bold"> charge :</label>
                            <ng-select placeholder="--Sélectionner--" style="font-weight: bold;color: black;"
                                [compareWith]="helperService.compareFn" [(ngModel)]="condidat.chargeur" name="charge">
                                <ng-option *ngFor="let codeP of listCarge " [value]="codeP">{{codeP.nom}}
                                    {{codeP.prenom}}</ng-option>

                            </ng-select>

                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-col-form-label" for="statut" style="font-weight:bold">Statut :</label>

                            <ng-select style="font-weight: bold;color: black;" placeholder="--Sélectionner--"
                                bindValue="libelle" bindLabel="libelle" [items]="statuts"
                                [compareWith]="helperService.compareFn" [(ngModel)]="condidat.statut" name="statut">
                            </ng-select>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer">

                <div class="row align-items-center">
                    <div class="col-10"></div>
                    <div>
                        <button type="button" class="btn btn-block btn-primary"
                            (click)="rechercheCandidat()">Rechercher</button>
                    </div>

                    <div style="padding-left: 5px">
                        <button type="button" class="btn btn-block btn-danger" (click)="reset()"
                            style="float: right;">Réinitialiser</button>
                    </div>
                </div>
            </div>
        </div>

        <custom-table [enableAll]="true" [item]="condidat" [actions]="actions" [title]="titleTable" [parent]="this"
            #table [columns]="columns"></custom-table>

    </div>
</div>