.competences {
    border: 2px solid blue;
    border-radius: 12px;
    padding: 0px;
}

.card-header-accordion{
    /* background-color:#F5A623;  */
    color:	darkblue; 
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: color 800ms ease;
    -o-transition: color 800ms ease;
    transition: color 800ms ease;
    transition: background 800ms ease;
    position: relative;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
table tr td, table tr th{
    background-color: rgba(255, 255, 255, 0.979) !important;
}

.card-accordion {
    background: transparent;
    border: 0;
}
.card-header-accordion:hover, .card-header-accordion-active{
    background-color: #5c6873;
    color: white;
    cursor: pointer;

}

.card-header-accordion-active::after
{

    -ms-transform: rotate(180deg) ; /* IE 9 */
    -webkit-transform: rotate(180deg) ; /* Chrome, Safari, Opera */
    transform: rotate(180deg) ;
  }

.card-header-accordion::after
{
    position: absolute;
    font-size: 24px;
    right: 10px;
    top: 20%;
    -webkit-transition: all 800ms ease;
    -o-transition:  all 800ms ease;
    transition: all 800ms ease;
  }

 
  