<div bsModal #detailsModal="bs-modal" class="modal fade">
    <div class="modal-dialog modal-success  modal-vlg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Details</h4>
          <button type="button" class="close" (click)="detailsModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="margin-left: 50px">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label>Civilité </label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.civilite.libelle}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Nom</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.nom}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Prenom</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.prenom}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="telephone">Téléphone</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.numeroTel | mask:'00-00-00-00-00' }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <div class="col-12" style="overflow-wrap: break-word;">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.email}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="email">Relance</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.relance == true ? 'Oui' :'Non' }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="email">Adresse</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.adresse}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="email">Code Postal</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.codePostal.code}}
                        ({{currentCandidat.codePostal.ville}})</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Region</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.codePostal?.region}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Ville</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.codePostal?.ville}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Lieu Naissance</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.lieuNaissance}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Age</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.age}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Confirmation Rdv</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.entretien.confirmation==false ? 'Non' : 'Oui'
                        }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Disponible</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.disponible}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Date entretien</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.date | date :'d/M/yyyy'}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Lieu entretien</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.lieu == null ? "":
                        currentCandidat.entretien.lieu.libelle}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="profil">Type Profil </label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.technologie.libelle}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="origineCV">Origine CV</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.origine.libelle}}</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-3">
                  <label class="col-7 col-form-label">Mobilité</label>
                  <div class="col-4 col-form-label">
                    <div class="form-check form-check-inline">
                      <input [disabled]="true" class="form-check-input" style="font-weight: bold;color: black;" name="mobiliteSrc" [(ngModel)]="currentCandidat.mobiliteSrc"
                        type="radio" id="inline-checkbox1" [value]="true">
                      <label class="form-check-label" for="inline-checkbox1">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input [disabled]="true" class="form-check-input" style="font-weight: bold;color: black;" name="mobiliteSrc" [(ngModel)]="currentCandidat.mobiliteSrc"
                        type="radio" id="inline-checkbox2" [value]="false">
                      <label class="form-check-label" for="inline-checkbox2">Non</label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-3">
                  <label class="col-7 col-form-label">Pole Emploi</label>
                  <div class="col-4 col-form-label">
                    <div class="form-check form-check-inline">
                      <input [disabled]="true" class="form-check-input" style="font-weight: bold;color: black;" name="posteEnCours" [(ngModel)]="currentCandidat.posteEnCours"
                        type="radio" id="inline-checkbox1" [value]="true">
                      <label class="form-check-label" for="inline-checkbox1">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input [disabled]="true" class="form-check-input" style="font-weight: bold;color: black;" name="posteEnCours" [(ngModel)]="currentCandidat.posteEnCours"
                        type="radio" id="inline-checkbox2" [value]="false">
                      <label class="form-check-label" for="inline-checkbox2">Non</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Sourceur</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{
                        currentCandidat.creePar.nom }} {{
                        currentCandidat.creePar.prenom }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Chargé recrutement</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.charge!=null ?
                        currentCandidat.entretien.charge.nom :""}} {{currentCandidat.entretien.charge!=null ?
                        currentCandidat.entretien.charge.prenom :""}}</p>
                    </div>
                  </div>
                </div>
                <div class="row competences">
                  <div class=" col-md-3" *ngFor="let compt of competences; let i = index">
                    <div class="form-check form-check-inline mr-1" style="padding-right: 10px">
                      <label class="label--checkbox">
                        <input disabled class="checkbox" type="checkbox" [name]="'cmp'+i" [(ngModel)]="competences[i].selected"
                          id="inline-checkbox1" [value]="compt.id">
                      </label>
                      <label>{{compt.libelle}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Pertinence Cv</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.pertinence}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;margin-right: 20px">
            <div class="col-12">
              <label for="comEntrtien">Commentaire</label>
              <textarea style="margin-left: 20px;font-weight: bold;color: black;" disabled="true" id="comEntrtien" [(ngModel)]="currentCandidat.entretien.commentaire"
                name="comEntrtien" rows="2" class="form-control"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="row">
                <label style="color: blue;font-weight:bold">Présentation générale</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Présentation</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.notePresentation' [name]="'notePresentation'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Savoir etre</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.noteSavoir' [name]="'noteSavoir'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Fiabilité</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.noteFiabilite' [name]="'noteFiabilite'"></app-rating-disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <label style="color: blue;font-weight:bold">Motivation</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Attrait pour l'informatique</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.noteAttrait' [name]="'noteAttrait'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Prêt à la reconversion</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.notePret' [name]="'notePret'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Mobilité</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.noteMobilite' [name]="'noteMobilite'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="noteResultat">Statut</label>
                    <div class="col-12">
                      <p *ngIf="currentCandidat.suivi!=null && currentCandidat.suivi!=undefined" class="form-control-static" style="font-weight: bold;color: black;">{{getStatusLabel(currentCandidat.statut)}}</p>
                    </div>
                  </div>
                </div>
              </div><!-- /row-->
              <div class="row">
                <label style="color: blue;font-weight:bold">Autre critéres:</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="noteResultat">Résultat du test:</label>
                    <div class="col-12">
                      <p *ngIf="currentCandidat.suivi!=null && currentCandidat.suivi!=undefined" class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.suivi.noteResultat}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Cohérence du parcours:</label></div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.noteCoherence' [name]="'noteCoherence'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Potentiel d’évolution:</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.notePistes' [name]="'notePistes'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div>
                      <label style="margin-right: 0px;margin-bottom: 0px">Anglais:</label>
                    </div>
                    <app-rating-disabled [rating]='currentCandidat.suivi?.anglais' [name]="'anglais'"></app-rating-disabled>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row" *ngIf="currentCandidat.suivi!=null && currentCandidat.suivi!=undefined">
                    <label class="col-7 col-form-label">Mobilité: </label>
                    <div class="col-4 col-form-label">
                      <div class="form-check form-check-inline">
                        <input disabled class="form-check-input" name="mobiliteSuivi2" [(ngModel)]="currentCandidat.suivi.mobilite"
                          type="radio" [value]="true">
                        <label class="form-check-label">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input disabled class="form-check-input" name="mobiliteSuivi2" [(ngModel)]="currentCandidat.suivi.mobilite"
                          type="radio" [value]="false">
                        <label class="form-check-label">Non</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-7 col-form-label">Mobilité Tout France:</label>
                    <div class="col-md-4 col-form-label">
                      <div class="form-check form-check-inline mr-1">
                        <input [disabled]="true" class="form-check-input" [(ngModel)]="currentCandidat.entretien.mobilteTouFrance"
                          name="mobilteTouFrance2" type="radio" [value]="true">
                        <label class="form-check-label">Oui</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input [disabled]="true" class="form-check-input" [(ngModel)]="currentCandidat.entretien.mobilteTouFrance"
                          name="mobilteTouFrance2" type="radio" [value]="false">
                        <label class="form-check-label">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6" *ngIf="currentCandidat.suivi!=null && currentCandidat.suivi!=undefined">
                  <div class="form-group row">
                    <label class="col-7 col-form-label">Relancer: </label>
                    <div class="col-4 col-form-label">
                      <div class="form-check form-check-inline">
                        <input [disabled]="true" class="form-check-input" name="suiviRelance2" [(ngModel)]="currentCandidat.suivi.relance"
                          type="radio" [value]="true">
                        <label class="form-check-label">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input [disabled]="true" class="form-check-input" name="suiviRelance2" [(ngModel)]="currentCandidat.suivi.relance"
                          type="radio" [value]="false">
                        <label class="form-check-label">Non</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="noteResultat">Date Relance</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.suivi.dateRelance |date :'dd/M/yyyy'}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="noteResultat">Affectation Candidat</label>
                    <div class="col-12">
                      <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.sessionFormation ?
                        currentCandidat.sessionFormation.formation.typeFormation.libelle +' '+
                        currentCandidat.sessionFormation.formation.technologie.libelle +' '+
                        currentCandidat.sessionFormation.formation.lieu.libelle +' '+
                        currentCandidat.sessionFormation.formation.nom : ''}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ row-->
            </div> <!-- col 6 -->
            <div class="col-6">
              <div class="row" style="margin-bottom: 20px;margin-right: 20px" *ngIf="currentCandidat.suivi!=null && currentCandidat.suivi!=undefined">
                <div class="col-12">
                  <label for="comEntrtien">Commentaire</label>
                  <textarea style="margin-left: 20px;font-weight: bold;color: black;" disabled="true" id="comEntrtien" [(ngModel)]="currentCandidat.suivi.commentaire"
                    name="comEntrtien" rows="2" class="form-control"></textarea>
                </div>
              </div>
              <label for="comEntrtien">Mobilité regions:</label>
              <div id="france-map" style="width: 400px; height: 400px"></div>
              <div class="col-6">
                <div class="form-group">
                  <label for="noteResultat">Mobilité Ville</label>
                  <div class="col-12">
                    <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.entretien.mobilteCharge}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="detailsModal.hide()">Annuler</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->