<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <h5>Information:</h5>
            </div>
            <div class="col-2"><label>Nom: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.nom}}</span></div>
            <div class="col-2"><label>Prénom: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.prenom}}</span></div>
            <div class="col-2"><label>Age: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.age}}</span></div>
            <div class="col-2"><label>Tél: </label><span class="nav-item px-3" style="font-weight: bold;">{{currentCandidat.numeroTel | mask:
                '00-00-00-00-00'}}</span></div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <div *ngIf="pdfSource!=undefined">
                <object style="margin-top: 20px" [data]="pdfSource" height="900px" width="100%">
                  <param name="view" value="fitH" />

                </object>
              </div>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="civilite">Civilité</label>
                    <label style="color: firebrick">*</label>
                    <ng-select  bindValue="id" style="font-weight: bold;color: black;" bindLabel="libelle" [items]="civilites" required #civilite="ngModel" name="civilite" [(ngModel)]="currentCandidat.civilite" 
                      id="civilite">
                      
                    </ng-select> </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="nom">Nom</label>
                    <label style="color: firebrick">*</label>
                    <input type="text" style="font-weight: bold;color: black;" class="form-control" name="nom" [(ngModel)]="currentCandidat.nom" id="nom">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-col-form-label" for="prenom">Prenom</label>
                    <label style="color: firebrick">*</label>
                    <input type="text" style="font-weight: bold;color: black;" class="form-control" name="prenom" [(ngModel)]="currentCandidat.prenom" id="prenom">

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <label style="color: firebrick">*</label>
                    <input type="email" style="font-weight: bold;color: black;" class="form-control" name="email" [(ngModel)]="currentCandidat.email" id="email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="telephone">Téléphone</label>
                    <label style="color: firebrick">*</label>
                    <input type="text" style="font-weight: bold;color: black;" class="form-control" [textMask]="{mask: mask}" name="telephone" [(ngModel)]="currentCandidat.numeroTel"
                      id="telephone">

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="origineCV">Origine CV</label>
                    <label style="color: firebrick">*</label>
                    <ng-select   bindLabel="libelle" style="font-weight: bold;color: black;" [items]="origines"   [compareWith]="helperService.compareFn" [(ngModel)]="currentCandidat.origine" name="origineCV" id="origineCV">
                    </ng-select>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="profil">Profil </label>
                    <label style="color: firebrick">*</label>
                    <ng-select   bindLabel="libelle" style="font-weight: bold;color: black;" [items]="technologies"    [compareWith]="helperService.compareFn" [(ngModel)]="currentCandidat.technologie" name="technologie"  id="profil">
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="codePostal">Code postal</label>
                    <label style="color: firebrick">*</label>
                    <ng-select aria-required="" style="font-weight: bold;color: black;" id="codePostal" [items]="codePostals" (search)="codePostaleOnSearch($event)"
                      [ngModel]="currentCandidat?.codePostal" (ngModelChange)="currentCandidat.codePostal = $event"
                      name="codePostal">
                      <ng-option *ngFor="let codeP of codePostals" [value]="codeP">{{codeP.code}}
                        {{codeP.ville}}</ng-option>

                    </ng-select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Region</label>
                    <label style="color: firebrick">*</label>
                    <div class="col-12">
                    <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.codePostal?.region}}</p>
                  </div>   </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Ville</label>
                    <label style="color: firebrick">*</label>
                    <div class="col-12">   <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat?.codePostal?.ville}}</p>
                  </div></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Mobilité: </label>
                    <label style="color: firebrick">*</label>
                    <div class="col-6 col-form-label">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input"  [(ngModel)]="currentCandidat.mobiliteSrc" name="mobilite"
                          type="radio" id="inline-checkboxmobilite1" [value]="true">
                        <label class="form-check-label" for="inline-checkboxmobilite1">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input"  [(ngModel)]="currentCandidat.mobiliteSrc" name="mobilite"
                          type="radio" id="inline-checkboxmobilite2" [value]="false">
                        <label class="form-check-label" for="inline-checkboxmobilite2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label">Pole Emploi: </label>
                    <label style="color: firebrick">*</label>
                    <div class="col-md-6 col-form-label">
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [(ngModel)]="currentCandidat.posteEnCours" name="poleEmploi"
                          type="radio" id="inline-checkbox3" [value]="true">
                        <label class="form-check-label" for="inline-checkbox3">Oui</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [(ngModel)]="currentCandidat.posteEnCours" name="poleEmploi"
                          type="radio" id="inline-checkbox4" [value]="false">
                        <label class="form-check-label" for="inline-checkbox4">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 20px">
                  <HR size="5" align="center" width="100%" />
             </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" style="font-weight: bold;color: black;" class="form-control" name="adresse" [(ngModel)]="currentCandidat.adresse" id="adresse">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="dateNaissance">Date de Naissance</label>
                    <input style="font-weight: bold;color: black;"  [owlDateTimeTrigger]="dtdateNaissance" [owlDateTime]="dtdateNaissance" class="form-control"
                      name="dateNaissance" [(ngModel)]="currentCandidat.dateNaissance" id="dateNaissance">
                    <owl-date-time (afterPickerClosed)="dateNaissanceChangedHandler()"  [pickerType]="'calendar'" #dtdateNaissance></owl-date-time>

                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="diplome">Diplome</label>
                    <input type="text" style="font-weight: bold;color: black;" class="form-control" name="diplome" [(ngModel)]="currentCandidat.diplome" id="diplome">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="age">Age</label>
                    <input readonly type="text" style="font-weight: bold;color: black;" class="form-control" name="age" [(ngModel)]="currentCandidat.age" id="age">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="dateObtentionDiplome">Date d'obtention du diplôme</label>

                    <month-year-picker  (changed)="updateDateObtentionDiplome($event)" [innerValue]="currentCandidat.dateObtentionDiplome"></month-year-picker>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lieuNaissance">Lieu de Naissance</label>
                    <input type="text" style="font-weight: bold;color: black;" class="form-control" name="lieuNaissance" [(ngModel)]="currentCandidat.lieuNaissance"
                      id="lieuNaissance">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">Sourceur</label>
                <div class="col-3">
                  <p class="form-control-static" style="font-weight: bold;color: black;">{{currentCandidat.creePar.nom}} {{currentCandidat.creePar.prenom}}</p>
                </div>

                
              </div>
              
              <div class="form-group row competences">
                <div class="col-md-3 col-form-label" *ngFor="let compt of competences; let i = index">
                  <div class="form-check form-check-inline mr-1">
                      <div class="form-check form-check-inline mr-1">
                          <div class="label--checkbox">
                              <input  [checked]="compt.selected" value="compt.libelle" class="checkbox" type="checkbox" [name]="'cmp'+i" [(ngModel)]="competences[i].selected"
                                  id="inline-checkbox1" [value]="compt.id">
                          </div>
                        <label style="margin-bottom: 0px">{{compt.libelle}}</label>
                  </div>    
                </div>

              </div>
            </div>
            <div class="row align-items-center" >
                <div class="col-8"></div>
                <div  >
                  <button (click)="updateCandidats()" type="button" class="btn btn-block btn-success">Modifier candidat</button>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                  <HR size="5" align="center" width="100%" />
                </div>
              <div class="row">
                <div class="col-md-6 col-form-label">
                  <label class="form-check-label" style="padding-right: 30px" for="envoiMail">
                    Envoi e-mail:
                  </label> 
                  <label  class="label--checkbox">
                      <input class="checkbox" type="checkbox" [(ngModel)]="envoiMail" name="envoiMail" value="true" id="envoiMail ">

                  </label>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label">Chargé recrutement</label>
                <div class="col-7">
                  <p class="form-control-static"  style="margin-top:8px;font-weight: bold;color: black;">{{currentCandidat.entretien.charge!=null ? currentCandidat.entretien.charge.nom :""}} {{currentCandidat.entretien.charge!=null ? currentCandidat.entretien.charge.prenom :""}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="disponiblite">Disponible</label>
                    <label style="color: firebrick">*</label>
                    <ng-select style="font-weight: bold;color: black;" placeholder="--Sélectionner--" bindLabel="libelle"   [items]="disponibles"   [(ngModel)]="currentCandidat.entretien.disponible"  name="disponiblite" id="disponiblite">
                    </ng-select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-5 col-form-label">Relancer
                        <label style="color: firebrick" *ngIf="currentCandidat.entretien.disponible.id=='2'||currentCandidat.entretien.disponible.id=='3'
                    ||currentCandidat.entretien.disponible.id=='5'||currentCandidat.entretien.disponible.id=='6'
                    ||currentCandidat.entretien.disponible.id=='7'">*</label>
                    </label>
                  
                    <div class="col-7 col-form-label">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="relance" (change)="relanceHandleChange($event)"
                          [(ngModel)]="currentCandidat.entretien.relance" type="radio" id="inline-checkbox5" [value]="true">
                        <label class="form-check-label" for="inline-checkbox5">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="relance" (change)="relanceHandleChange($event)"
                          [(ngModel)]="currentCandidat.entretien.relance" type="radio" id="inline-checkbox6" [value]="false">
                        <label class="form-check-label" for="inline-checkbox6">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="entretienDate">Date entretien</label>
                    <label style="color: firebrick" *ngIf="currentCandidat.entretien.disponible.id=='0'">*</label>
                    <input style="font-weight: bold;color: black;" [disabled]="currentCandidat.entretien.relance==true" [owlDateTimeFilter]="entretienDateFilter"
                      [min]="minRelance" [owlDateTimeTrigger]="dtentretienDate" [owlDateTime]="dtentretienDate" class="form-control"
                      name="entretienDate" [(ngModel)]="currentCandidat.entretien.date" id="entretienDate">
                    <owl-date-time [pickerType]="'calendar'" #dtentretienDate></owl-date-time>

                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="entretienDateRelance">Date Relance</label>
                    <label style="color: firebrick" *ngIf="currentCandidat.entretien.disponible.id=='2'||currentCandidat.entretien.disponible.id=='3'
                    ||currentCandidat.entretien.disponible.id=='5' ||currentCandidat.entretien.disponible.id=='6'
                    ||currentCandidat.entretien.disponible.id=='7'">*</label>
                    <input [disabled]="currentCandidat.entretien.relance==false" [min]="minRelance" style="font-weight: bold;color: black;"
                      [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="form-control" name="entretienDateRelance"
                      [(ngModel)]="currentCandidat.entretien.dateRelance" id="entretienDateRelance">
                    <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="timeEntretien">Heure entretien</label>
                    <label style="color: firebrick" *ngIf="currentCandidat.entretien.disponible.id=='0'">*</label>
                    <input style="font-weight: bold;color: black;" [disabled]="currentCandidat.entretien.relance==true" [owlDateTimeFilter]="entretienHeureFilter"
                      class="form-control" placeholder="Heure entretien" [(ngModel)]="timeEntretien" [owlDateTimeTrigger]="dt2"
                      [owlDateTime]="dt2">
                    <owl-date-time (afterPickerClosed)="afterHeurePickerClosed()" [pickerType]="'timer'" #dt2></owl-date-time>
                  </div>



                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-5 col-form-label">Confirmation Rdv</label>
                    <div class="col-7 col-form-label">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="confirmation" [(ngModel)]="currentCandidat.entretien.confirmation"
                          type="radio" id="inline-checkbox1" [value]="true">
                        <label class="form-check-label" for="inline-checkbox1">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" name="confirmation" [(ngModel)]="currentCandidat.entretien.confirmation"
                          type="radio" id="inline-checkbox2" [value]="false">
                        <label class="form-check-label" for="inline-checkbox2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="entretienLieu">Lieu entretien</label>
                    <label style="color: firebrick" *ngIf="currentCandidat.entretien.disponible.id=='0'">*</label>
                    <ng-select style="font-weight: bold;color: black;" placeholder="--Sélectionner--" [disabled]="currentCandidat.entretien.relance==true"  bindLabel="libelle" [items]="lieux"  [compareWith]="helperService.compareFn" [(ngModel)]="currentCandidat.entretien.lieu" name="entretienLieu" id="entretienLieu">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="entretienPertinence">Pertinence Cv</label>
                    <label style="color: firebrick">*</label>
                    <ng-select placeholder="--Sélectionner--" style="font-weight: bold;color: black;"  [items]="pertinenecesValeurs"   [(ngModel)]="currentCandidat.entretien.pertinence" name="entretienPertinence" 
                      id="entretienPertinence">
                     </ng-select>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                <div class="col-12">
                  <textarea style="font-weight: bold;color: black;"  id="comEntrtien" [(ngModel)]="currentCandidat.entretien.commentaire" name="comEntrtien" rows="4" class="form-control"></textarea>
                </div>
               </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row align-items-center">
            <div class="col-form-label"  [class]="showDetailsButton  ? 'col-md-6' : 'col-md-7' ">
            </div>
            <div [ngStyle] ="{'padding-left': (showDetailsButton) ? '35px' : '45px' } ">
              <button type="button" [disabled]="file==undefined" (click)="downloadPDF()" class="btn btn-block btn-warning">Télécharger
                Cv</button>
            </div>
            <div *ngIf="showDetailsButton" style="padding-left: 5px">
              <button type="button" (click)="showDetails()" class="btn btn-block btn-info">Plus de détail</button>
            </div>
            <div style="padding-left: 5px" >
              <button type="button" (click)="evaluerCandidat()"  [disabled]="currentCandidat.entretien.date==null || currentCandidat.entretien.date > minRelance" class="btn btn-block btn-success">Evaluer Candidat</button>
            </div>
            <div style="padding-left: 5px" >
              <button type="button"  (click)="sauvgarderFicheRedirtect()" class="btn btn-block btn-success">Sauvegarder</button>
            </div>
            <div style="padding-left: 5px" >
              <button (click)="annuler()" type="button" class="btn btn-block btn-danger">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #emailModalHorCible="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nouveau email : Candidat Hors cible</h4>
          <button type="button" class="close" (click)="emailModalHorCible.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 52px">
          <form class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Motif </label>
              <div class="col-md-8">
                <ng-select style="font-weight: bold;color: black;"  bindLabel="libelle" [items]="motifs"   [(ngModel)]="currentCandidat.motif" name="motif"  id="motif">
                 </ng-select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Message </label>
              <div class="col-md-8 ">
                <textarea id="commentaireMotif" [(ngModel)]="commentaireMotif" name="commentaireMotif" rows="4" class="form-control"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="emailModalHorCible.hide()">Annuler</button>
          <button type="button" (click)="envoiMailHorCibleFunction()" class="btn btn-primary">Envoi mail</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



  <div bsModal #emailModalDispo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Envoi e-mail Entretien</h4>
          <button type="button" class="close" (click)="emailModalDispo.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 52px">
          <form class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="candidatEmail">E-mail Candidat</label>
              <div class="col-md-8">
                <input class="form-control" style="font-weight: bold;color: black;" name="candidatEmail" id="candidatEmail" [(ngModel)]="emailEntrtien?.candidat.email" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="distCopie0">Destinataire en Cci</label>
              <div class="col-md-8">
                <input class="form-control" style="font-weight: bold;color: black;" name="distCopie0" id="distCopie0" [(ngModel)]="emailEntrtien.distCopie[0]" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="distCopie1">Destinataire en Cci</label>
              <div class="col-md-8">
                <input class="form-control" style="font-weight: bold;color: black;" name="distCopie1" id="distCopie1" [(ngModel)]="emailEntrtien.distCopie[1]" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="distCopie1">Piece jointe</label>
              <div class="col-md-8">
                <div class="row">
                  <div style="margin-left: 15px">
                    <input (change)="uploadFiles($event)"  accept=".xls, .xlsx, .pdf, .docx, .doc" style="display: none;" id="fileUpload" type="file" multiple />
                    <button [disabled]="this.pieceJoitesTemp.length >= 3" onclick="document.getElementById('fileUpload').click();"  type="button"
                      class="btn btn-block btn-outline-primary" >
                      <i class="fa fa-plus"> </i> Selectionner</button>
                  </div>
                  <button type="button" style="margin-left: 20px" (click)="uploadpieceJoitesTemp()" [disabled]="disableUploadButton()"  class="btn btn-outline-success">
                    <i class="fa fa-upload"></i> OK
                  </button>
                  <button type="button" style="margin-left: 20px" (click)="pieceJoitesTemp=[];emailEntrtien.pieceJoites=[]" [disabled]="pieceJoitesTemp.length==0" class="btn btn-outline-danger">
                    <i class="fa fa-trash"> </i> 
                    Annuler
                  </button>
                </div>
                <div class="row" style="margin-top: 20px">
                    <table class="table" *ngIf="pieceJoitesTemp.length>0">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of pieceJoitesTemp">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td  nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td >
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.status == 'loaded'"><i class="fa fa-check"></i></span>
                                <span *ngIf="item.status=='error'"><i class="fa fa-close"></i></span>
                                <span *ngIf="item.status=='notLoaded'"><i class="fa fa-upload"></i></span>                               
                            </td>
                            <td nowrap>                               
                                    <i style="color:red" (click)="removeUploadedFile(item)" class="fa fa-trash-o"></i> 
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Message </label>
              <div class="col-md-8 ">
                <textarea style="font-weight: bold;color: black;" id="commentaireMotif" [(ngModel)]="emailEntrtien.msg" name="commentaireMotif" rows="4" class="form-control"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="emailModalDispo.hide()">Annuler</button>
          <button type="button" (click)="envoiMailDispoFunction()" class="btn btn-primary">Envoi mail</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <candidats-details-modal #detailsModal [currentCandidat]="currentCandidat" ></candidats-details-modal>
