<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/adaming-conseil.png', width: 150, height: 30,alt: 'Adaming conseil'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/adaming.png', width: 40, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="''">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3 h5" style="color:rgb(233, 38, 38)">
      {{getProfiilDisplay(userService.getConnetedUserInfo().profil)}}
    </li>
    <li class="nav-item px-3 h5">{{ userService.getConnetedUserInfo().login}}
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item px-5" dropdown placement="bottom right">
      <a class="nav-link" style="font-weight: bold;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="logout()">
        <img style="height: 20px;" src="assets/img/avatars/deconnect.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
        Déconnexion
      </a>
      
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar  [fixed]="true" [display]="'lg'">
    <div class="user" *ngIf="!sidebarMinimized" >
      <div style="padding-left: 20px" class="row">
        <div class="col-3">
          <img height="50px" style="border-radius: 50em" src="assets/img/avatars/user.png">
        </div>
        <div class="col-9" style="padding-top: 10px;padding-left: 25px">
          {{ userService.getConnetedUserInfo().nom }} {{
            userService.getConnetedUserInfo().prenom}}<br>
           {{getProfiilDisplay(userService.getConnetedUserInfo().profil)}}
        </div>
      </div>
    </div>
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer ></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <!-- <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li> -->
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <notifier-container></notifier-container>
</app-footer>