.competences {
    border: 2px solid #C4C4C4;
    border-radius: 12px;
    padding: 0px;
}
label{
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    margin-right: 2px
}

  

  
  